<mat-toolbar class="navbar">
  <span class="nav-logo"><a href="#">Furniture Store</a></span>
  <span class="nav-item"><a href="#" routerLink="./home" routerLinkActive="active">Home</a></span>
  <span class="nav-item"><a href="#" routerLink="./products" routerLinkActive="active">Katalog</a></span>
  <span class="nav-item"><a href="#" routerLink="./about" routerLinkActive="active">O nas</a></span>
  <span class="nav-item"><a href="#" routerLink="./contact" routerLinkActive="active">Kontakt</a></span>
</mat-toolbar>
