<form [formGroup]="accountForm" novalidate (ngSubmit)="ngOnInit()">
  <div class="account-settings-background">
    <div class="account-settings-component">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Imie
            </mat-panel-title>
            <mat-panel-description>
              {{ user.name }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Zmień imie: </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Change name</mat-label>
              <input matInput placeholder="Name" value="" [(ngModel)]="updatedName" formControlName="name">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="updateName()">Edytuj</button>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Nazwisko
            </mat-panel-title>
            <mat-panel-description>
              {{ user.surname }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Zmień nazwisko: </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Change surname</mat-label>
              <input matInput placeholder="Name" value="" [(ngModel)]="updatedSurname" formControlName="surname">
            </mat-form-field>
            <button mat-raised-button color="primary">Edytuj</button>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Email
            </mat-panel-title>
            <mat-panel-description>
              {{ user.email }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Zmień email: </p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Change email</mat-label>
              <input matInput placeholder="Name" value="" [(ngModel)]="updatedEmail" formControlName="email">
            </mat-form-field>
            <button mat-raised-button color="primary">Edytuj</button>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hasło
            </mat-panel-title>
            <mat-panel-description>
              ***** ***
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Zmień hasło: </p>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Set new password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" value="" [(ngModel)]="updatedToken" formControlName="token">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button mat-raised-button color="primary">Edytuj</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>
