<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sekcje
      </mat-panel-title>
      <mat-panel-description>
        Dodaj, edytuj lub usuń sekcje
      </mat-panel-description>
      <mat-icon>category</mat-icon>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Kolejność </th>
        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="clickable-icon" (click)="deleteSection(element.id)">delete</mat-icon>
          <mat-icon class="clickable-icon" (click)="editSection(element.id)">edit</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" aria-label="Select page of category elements">
    </mat-paginator>
    <div class="section-editor-block">
      <div class="section-editor-info">
        <span class="bold">Edytujesz sekcję: </span>
        {{this.model.section.name}}
      </div>

      <div class="section-editor-order">
        <form [formGroup]="sectionEditForm" class="section-form">
          <mat-form-field>
            <input matInput type="number" placeholder="Kolejność sekcji" formControlName="newOrder" [(ngModel)]="model.section.order">
           </mat-form-field>
        </form>
      </div>
      <ckeditor class="section-editor" [(ngModel)]="model.editorData" [editor]="Editor" (change)="onChange($event)" [disabled]="isDisabled"></ckeditor>
      <div class="section-editor-save">
        <button mat-raised-button color="primary" (click)="save()">Zapisz zmiany</button>
      </div>
    </div>
    <mat-action-row>
      <form [formGroup]="sectionForm" class="section-form">
        <table class="mat-table">
          <tr>
            <th class="mat-header-row" > Nazwa </th>
            <th class="mat-header-row" > Kolejność </th>
          </tr>
          <tr >
            <td class="mat-cell" >
              <mat-form-field>
                <input matInput placeholder="Nazwa sekcji" formControlName="name" [(ngModel)]="sectionName" class="expand-input">
              </mat-form-field>
            </td>
            <td class="mat-cell" >
              <mat-form-field>
                <input matInput type="number" placeholder="Kolejność sekcji" formControlName="order" [(ngModel)]="sectionOrder">
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button color="primary" (click)="addSection()">Dodaj</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
