@import "~angular-notifier/styles";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; scroll-behavior: smooth;}

.clickable-icon{
  cursor: pointer;
}

.bold{
  font-weight: bold;
}
