.section{
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
}

.section-header{
  font-size: 3.2rem;
  padding: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
